  @font-face {
    font-family: 'Bernard MT Condensed';
    src: url('BERNHC.ttf') format('truetype');

    font-family: 'Britannic Bold';
    src: url('BRITANIC.ttf') format('truetype');
  }

  body {
    font-family: 'Bernard MT Condensed', sans-serif;
    padding: 20px;
    background-color: #D4CDE4;
  }

  h1 {
    text-align: center;
    color: #3C003E;
  }

  h2 {
    text-align: center;
    color: #2A0E8C;
  }

  #outer-box {
    background-color: #AF8FC7;
    width: 450px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: right;
  }

  #inter-box {
    background-color: #C66CA8;
    width: 350px;
    height: 35px;
  }

  #outer-text {
    color: #2A0E8C;
    font-size: large;
  }

  p {
    font-family: 'Britannic Bold', sans-serif;
  }

/*   
  input[type="text"], select {
    background-color: #AF8FC7;
    color: #fff;
  } */

  input[type="submit"] {
    width: 100px;
    height: 40px;
    font-family: 'Bernard MT Condensed', sans-serif;
    font-size: x-large;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #FFB6BE;
    color: #F433CE;
    border: 1pt solid black;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #13aec0;
  }